  /* font-family: 'Instrument Serif', serif; */
  /* font-family: 'Geist Mono', monospace; */
  /* font-family: 'Syne', sans-serif; */
  /* font-family: 'Rubik Dirt', serif; */
:root {
  --main: rgb(254,249,247);
  --main-dark: rgb(246, 234, 234);
  --pink: rgb(233,199,221); 
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: var(--pink);
}

*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--main);
  margin: 0;
  padding: 0;
  font-family: 'Syne', sans-serif;
  cursor: default;
  overflow-x: hidden;
}

/* NAVIGATION */
.navigation {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5vh;
  padding: 0 40px;
  margin: 20px 0;
}

.nav-logo {
  color: var(--pink);
  font-family: "Gasoek One", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  letter-spacing: 1px;
}

.nav-menu {
  color: var(--pink);
  font-size: 2rem;
  text-decoration: none;
  cursor: pointer;
}
/* HERO */
.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  width: 100%;
  height: 90vh;
  text-align: center;
  border: 2px solid rebeccapurple;
}

.stats {
  position: absolute;
  top: 45%;
  left: 27%;
  justify-content: right;
  align-items: baseline;
  z-index: 1;
  width: max-content;
  color: var(--main-dark);
  font-size: 7rem;
  text-align: center;
  animation: fadeUp 5.0s 0.5s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

.hero-content {
  position: absolute;
  top: 18%;
  left: 50%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  transform: translateX(-50%);
}

.hero-title em {
  font-style: italic;
  color: var(--pink);
  animation: fadeUp 10.0s 1.0s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

.hero-subtitle {
  padding: 10px;
  font-family: 'Syne', sans-serif;
}

/* ARTICLES */
.carousel-container {
  position: relative;
  
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  z-index: 999;
  border: 2px solid rgb(94, 255, 0);
}

.slider-wave {
  width: 120%;
  height: 120px;
  background: var(--main);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  pointer-events: none;
}
.upper {
  border-radius: 0 0 50% 50% / 0 0 100% 100%;
  top: 0;
}

.lower {
  border-radius: 50% 50% 0 0/ 100% 100% 0 0;
  bottom: 0;
}

.carousel {
  width: 100%;
  max-width: 1600px;
  overflow: hidden;
  display: flex;
  position: relative;
  z-index: 1;
}

.track {
  display: flex;
  gap: 8px;
  transition: transform 0.5s ease;
}

.card {
  width: 400px;
  height: 650px;
  transition: transform 0.5s ease, opacity 0.5s ease;
  transform: scale(0.88);
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  display: block;
}

/* Buttons */
.nav {
  border: 2px solid var(--pink);
  color: var(--pink);
  background: transparent;
  padding: 10px 15px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  flex-shrink: 0;
  transition: background 0.2s, color 0.2s;
  position: absolute;
  z-index: 999;
}

.nav:hover {
  background: var(--pink);
  color: #333;
}

.prev {
  left: 20px;
}

.next {
  right: 20px;
}